# MRI datasets
data/raw/
data/processed/

# Medical imaging files
*.nii
*.nii.gz
*.dcm

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/
*-checkpoint.ipynb
*_checkpoint.ipynb

# Virtual environments
.venv/
venv/

# IDE
.vscode/